div{
    background-color: rgb(rgb(180, 45, 119))
    border: 1px solid green;
    width: 50px;
    margin: 10px;
}

main{
    border: 1px solid black;
    background-color: grey;
    width: 50%;
}

#first-div{
    background-color: green;
}

ol{
    list-style-type: none;
    display: flex;
}

li{
    display: block;
    padding: 10px 15px;
    margin: 0;
}